* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.n1 {
    background-color: rgb(230, 240, 44);
    padding: 75px;
    text-align: center;
}
.n1 h1 {
    font-weight: bold;
}
.nav {
    background-color: rgb(211, 164, 76);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    }
    .nav li a {
        padding: 10px; /* Adjust the value as needed */
        text-decoration: none; /* Optional: remove underline */
        color: black; /* Optional: change text color */
    }
    #about{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }