* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.n1 {
    background-color: rgb(230, 240, 44);
    padding: 75px;
    text-align: center;
}
.n1 h1 {
    font-weight: bold;
}
.nav {
    background-color: rgb(211, 164, 76);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    }
    .nav li a {
        padding: 10px; 
        text-decoration: none; 
        color: black; 
    }
    #about {
        text-align: center; 
    }

    .n2 {
        margin: 0 auto; 
        max-width: 600px; 
    }

    .center {
        display: block; 
        margin: 0 auto; 
        width: 300px; 
        height: 200px;
    }
    #products {
        text-align: center; 
        background-color: skyblue;
    }
    